apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: asegui-wercker
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: asegui-wercker
        version: v1
    spec:
      containers:
      - name: asegui-wercker
        image: ${DOCKER_REPO}:4.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: ${OKE_IMAGESECRET}
